cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
google-ads==21.3.0
google-api-core==2.11.1
google-auth==2.22.0
google-auth-oauthlib==1.0.0
googleapis-common-protos==1.60.0
grpcio==1.57.0
grpcio-status==1.57.0
idna==3.4
lxml==4.9.3
numpy==1.26.0
oauthlib==3.2.2
pandas==2.1.1
proto-plus==1.22.3
protobuf==4.24.2
psycopg2==2.9.8
pyasn1==0.5.0
pyasn1-modules==0.3.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytrends==4.9.2
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
six==1.16.0
SQLAlchemy==2.0.21
typing_extensions==4.8.0
tzdata==2023.3
urllib3==1.26.16
